
<% if !@trips.empty? %>
<% @trips.each do |trip| %>
    Location: <%= trip.location %><br>
    <br>
    Description: <%= trip.description %><br>
    <br>
    Adventures: <%= trip.adventures %><br>
    <br>
    Username: <%= trip.user.username %> <a href="/trips/<%= trip.id %>/edit">Edit</a><br>
    <br>
    
    <% end %>
    <% end %>