<h1> Welcome, <%= @user.username %> ! </h1>
<br>
<% if @user.trips.empty? %>
<h3>You have no trips, let's make a new one.</h3>
<% else %>
<h3>Here's all of your trips</h3>
<table style="width:100%">
    <tr>
    <th>Location</th>
    <th>Description</th>
    <th>Adventures</th>
    </tr>
        <% @user.trips.each do |trip| %>
    <tr>
        <td><%= trip.location %> <a href="/trips/<%= trip.id %>/edit">Edit</a></td>
        <td><%= trip.description %></td>
        <td><%= trip.adventures %><br></td>
        
        <% end %>
        <% end %>
    </tr>
</table>